/**
 * General page layout, moving all elements to the right position...
 */
html {
    min-height: 101%;
    font-size: 9pt;
    font-family: "Liberation Sans", "Bitstream Vera Sans", sans-serif;
    color: #374153;
    background: #d6d7d8 url(images/bgtop.png) repeat-x;
    text-align: justify;
}

body {
    /*width: 810px;*/
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

/**
 * General textlayout
 */
a , a:link, a:visited { cursor: pointer; color: #4a7ad8; text-decoration: none; border-bottom: 0;}
a:hover { text-decoration: underline; }

img { border: 0; }

h2 
{
margin-top: 10px;
}
/**
 * Hide dynamic controllers generally - unhide by javascript, so only when
 * dynamic effects can be used anyway!
 */
*.dynamic {
    visibility: hidden;
    cursor: pointer;
}

#page {
    padding: 0;
    margin: 0;
    background: url(images/bg-menu2.png) no-repeat bottom right;
}

#headerright {
    background: url(images/bg-header-right.png) transparent top right no-repeat;
    width: 90%;
}
#headerleft {
    background: url(images/bg-header-left.png) transparent top left no-repeat;
}
#header {
    height: 95px;
/*    width: 800px;*/
	padding: 45px 0 0 8px;
    margin: 0;
	display: block;
/*	float: left;*/
}

#planetheader
{
	margin: 0 0 0 25px;
}

#contentright {
    background: url(images/bg-content-right.png) transparent repeat-y top right ;
    width: 90%;
}
#contentleft {
    background: url(images/bg-content-left.png) transparent repeat-y top left ;
}

#content {

    background: #f8f8f8;
/*	width: 776px;*/
    min-height: 300px;
/*	margin: 0 0 0 0;*/
	margin: 0 30px 0 18px;
/*	padding: 0 24px 0 8px;*/
/*	float: left;*/
}

/* older blog entries */
#content > p {
  margin-bottom:0;
  padding-bottom:10px;
}

div.day h2 {
    margin: 0;
    padding: 10px 0 10px 20px;
}

#footerright {
    background: url(images/bg-footer-right.png) top right no-repeat;
    width: 90%;
}
#footerleft {
    background: url(images/bg-footer-left.png) top left no-repeat;
}
#footer {
    clear: both;
    height: 130px;
/*    width: 770px;*/
    margin: 0;
	font-size: 0.9em;
	padding: 15px 10px 0 10px;
    text-align: center;
/*	float: left;*/
}

/**
 * Header layout
 */
#header h1 {
    font-style: normal;
    font-size: 12.4pt;
    font-weight: lighter;
    font-stretch: narrower;
    word-spacing: 0.27em;
    float: left;
    padding: 0;
    margin: 0;
}

#header p {
    margin: 0;
    padding: 0;
    font-size: 9pt;
}

#toplinks {
	padding: 0 0 0 20px;
    margin: 22px 0 0 0;
}

#kdehome
{
	float: left;
	width: 50px;
	height: 50px;
	display: block;
	left: 690px;
	top: 23px;
	position: relative;
}

#toplinks a {
    color: #374153;
	font-size: 0.9em;
	line-height: 22px;
	vertical-align: middle;
	margin-right: 5px;
}

#toplinks a img
{
	margin: -3px 0 0 3px;
	vertical-align: middle;
}

#addme {
    display: none;
    padding: 0px 20px 0px 20px;
}

#addmebox {
    white-space: pre; 
    border: thin solid grey; 
    width: 80%;
}

#feeddiv {
    display: none;
    padding: 0px 0px 0px 20px;
}

/**
 * Menu2 layout
 */
#menu2 ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

#menu2 img {
    margin: 0 5px 0 0;
}

/* Content Layout */
.face {
    margin-right: 10px;
}

.daygroup h2 {
    text-align: right;
    width: 100%;
    margin-bottom: -30px;
}

.channelgroup {
    /*background: url(images/default-face.png) no-repeat bottom left;*/
    background: url(images/between-posts.png) no-repeat bottom center;
    padding: 0px 0px 10px 0px;
    /*margin: 0 0 12px 0;*/
}

.channelgroup:last-child
{
background: none;
}
.channelgroup h3 {
    padding: 20px 0px 0px 20px;
    margin: 0 29px 0 0;
    /*
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #374153;
    */
}
.channelgroup h3 a {
    color: #333D4E; /*wee bit darker*/
}
.channelgroup h4 {
    font-size: 240%;
    font-weight: lighter;
    margin: 0px;
    text-align: left;
}
.channelgroup h4 a {
    color: #455269; /*wee bit lighter*/
}
.entrygroup {
    margin: 0px 38px 0px 28px;
}
.entry {
    margin-left: 20px;
}

.entry p:first-child:first-letter {
    font-size: 250%;
}
.entry hr {
    width: 90%;
    height: 0;
    border: 1px dashed #374153;
}
.entry p.date {
    font-size: 7pt;
    text-align: right;
}
.entry img {
    padding: 0;
    margin: 5px;
    max-width: 100%;
}

.entry blockquote {
    border: 1px dashed #374153;
    background-color: #cccccc;
    margin: 7px 20px 7px 20px;
    padding: 0px;
    overflow: auto;
}

.entry blockquote p:first-child:first-letter {
    font-size: 8pt;
    margin: 0;
    padding: 0;
}
.entry code {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
}

.twitter a {
    color: black;
    text-decoration: none;
}

#twitterdiv {
   display: none;
   border: solid thin grey;
   float: right;
   width: 200px;
   padding: 8px;
   margin: 8px;
   background-color: white;
}

#microbloghead {
   font-size: 9pt;
}
